@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #454545;
  font-family: "Montserrat", sans-serif;
}

/* ESTILO DE TITULOS Y SUBTITULOS */
h1 {
  text-align: center;
  padding-bottom: 300px;
  padding: 15px;
  font-size: 40px;
  text-transform: uppercase;
  color: #454545;
}

h2 {
  text-align: center;
  padding: 15px;
  font-size: 25px;
  color: #454545;
}
/* ESTILO DE TITULOS Y SUBTITULOS */

/* ESTILO DEL FORMULARIO */
.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
  background: #eee;
}

.form-container form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
  width: 500px;
}
/* ESTILO DEL FORMULARIO */

/* ESTILO DE LOS LABELS PARA ESCRIBIR INFORMACION*/
.field {
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* ESTILO DE LOS LABELS PARA ESCRIBIR USUARIO Y CONTRASEÑA */

/* ESTILO DE BOTONES */
.form-btn {
  background: #fbd0d9;
  color: crimson;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-container form .form-btn:hover {
  background: crimson;
  color: #fff;
}

/* ESTILO DE BOTONES */

#registro {
  font-style: italic;
  font-weight: bold;
  color: #454545;
}
