/* index style */
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  color: blue;
  text-transform: uppercase;
  font-style: italic;
  background-color: antiquewhite;
  text-align: center;
  padding: 20px;
}

.container {
  width: 700px;
  margin: 50px auto;
  font-family: sans-serif;
  width: 50%;
  background: #f7f7f7;
  border: 5px solid #000000;

  line-height: 1.4;
}

#price {
  font-size: 30px;
}

.shipping {
  padding-bottom: 20px;
}

.text {
  font-style: italic;
  padding-bottom: 10px;
}

.information {
  color: blue;
}

a:hover {
  color: rgb(84, 194, 0);

  text-decoration: underline wavy orangered;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px;
}

.details-list {
  list-style: square;
  padding-left: 20px;
  padding-bottom: 20px;
}

.add-cart {
  background-color: black;
  border: none;
  color: aqua;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}

.add-cart:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
